*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stack {
  width: 100%;/*500px*/
  min-height: 300px;/*500px*/
  position: relative;
}

.card-tl {
  width: 80%;
  min-height: 40%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-family: sans-serif;
  /*font-size: 18px;*/
  color: #00000080;
  box-shadow: 0 5px 10px 0 #00000040, 0 15px 20px 0#00000020;
  transition: transform 200ms;
  cursor:pointer;
  padding: 20px;
  text-align:center;
}

.cor0 {
    color: #FFFFFF;
    background-color: #8063e1;
    background-image: linear-gradient(135deg, #bd7be8, #8063e1);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #8063e1;
}
.cor1 {
    color: #FFFFFF;
    background-color: #3f58e3;
    background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #3f58e3;
}
.cor2 {
    color: #FFFFFF;
    background: #d4145a;
    background: -moz-linear-gradient(45deg,  #d4145a 0%,#fbb03b 100%);
    background: -webkit-linear-gradient(45deg,  #d4145a 0%,#fbb03b 100%);
    background: linear-gradient(45deg,  #d4145a 0%,#fbb03b 100%);
}
.cor3 {
    color: #FFFFFF;
    background-color: #352f64;
    background-image: linear-gradient(135deg, #415197, #352f64);
    box-shadow: 5px 5px 60px rgba(34,50,84,0.1), 1px 1px 0px 1px #352f64;
}
.cor4 {
    color: #FFFFFF;
    background-color: #352f64;
    background: -moz-linear-gradient(135deg,  #fcee21 0%,#009245 100%);
    background: -webkit-linear-gradient(135deg,  #fcee21 0%,#009245 100%);
    background: linear-gradient(135deg,  #fcee21 0%,#009245 100%);
}
.cor5 {
    color: #FFFFFF;
    background-color: #2c6fd1;
    background-image: linear-gradient(135deg, #21bbfe, #2c6fd1);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #2c6fd1;
}
.cor6 {
    color: #FFFFFF;
    background: #d9e021;
    background: -moz-linear-gradient(135deg,  #d9e021 0%,#fb872b 100%);
    background: -webkit-linear-gradient(135deg,  #d9e021 0%,#fb872b 100%);
    background: linear-gradient(135deg,  #d9e021 0%,#fb872b 100%);
}
.cor7 {
    color: #FFFFFF;
    background: #00537e;
    background: -moz-linear-gradient(to bottom,  #00537e 0%,#3aa17e 100%);
    background: -webkit-linear-gradient(to bottom,  #00537e 0%,#3aa17e 100%);
    background: linear-gradient(to bottom,  #00537e 0%,#3aa17e 100%);
}
.cor8 {
    color: #FFFFFF;
    background: #f8d800;
    background: -moz-linear-gradient(45deg,  #f8d800 0%,#fdeb71 100%);
    background: -webkit-linear-gradient(45deg,  #f8d800 0%,#fdeb71 100%);
    background: linear-gradient(45deg,  #f8d800 0%,#fdeb71 100%);
}
.cor9 {
    color: #FFFFFF;
    background: #de4313;
    background: -moz-linear-gradient(-56deg,  #de4313 0%,#fec163 100%);
    background: -webkit-linear-gradient(-56deg,  #de4313 0%,#fec163 100%);
    background: linear-gradient(-56deg,  #de4313 0%,#fec163 100%);
}

.cor10 {
    color: #FFFFFF;
    background-color: #8063e1;
    background-image: linear-gradient(135deg, #bd7be8, #8063e1);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #8063e1;
}
.cor11 {
    color: #FFFFFF;
    background-color: #3f58e3;
    background-image: linear-gradient(135deg, #7f94fc, #3f58e3);
    box-shadow: 20px 20px 60px rgba(34,50,84,0.5), 1px 1px 0px 1px #3f58e3;
}
.cor12 {
    color: #FFFFFF;
    background: #d4145a;
    background: -moz-linear-gradient(45deg,  #d4145a 0%,#fbb03b 100%);
    background: -webkit-linear-gradient(45deg,  #d4145a 0%,#fbb03b 100%);
    background: linear-gradient(45deg,  #d4145a 0%,#fbb03b 100%);
}
.cor13 {
    color: #FFFFFF;
    background-color: #352f64;
    background-image: linear-gradient(135deg, #415197, #352f64);
    box-shadow: 5px 5px 60px rgba(34,50,84,0.1), 1px 1px 0px 1px #352f64;
}
.cor14 {
    color: #FFFFFF;
    background-color: #352f64;
    background: -moz-linear-gradient(135deg,  #fcee21 0%,#009245 100%);
    background: -webkit-linear-gradient(135deg,  #fcee21 0%,#009245 100%);
    background: linear-gradient(135deg,  #fcee21 0%,#009245 100%);
}

/*.card-tl:nth-last-child(n + 13) {
  --y: calc(-50% + -165px);
  transform: translate(-105%, var(--y)) scale(0.45);
}
.card-tl:nth-last-child(12) {
  --y: calc(-50% + -150px);
  transform: translate(-105%, var(--y)) scale(0.50);
}
.card-tl:nth-last-child(11) {
  --y: calc(-50% + -135px);
  transform: translate(-105%, var(--y)) scale(0.55);
}
.card-tl:nth-last-child(10) {
  --y: calc(-50% + -120px);
  transform: translate(-105%, var(--y)) scale(0.60);
}
.card-tl:nth-last-child(9) {
  --y: calc(-50% + -105px);
  transform: translate(-105%, var(--y)) scale(0.65);
}
*/
.card-tl:nth-last-child(n + 8) {
    --y: calc(-50% + -90px);
    transform: translate(-50%, var(--y)) scale(0.70);
}
.card-tl:nth-last-child(7) {
    --y: calc(-50% + -75px);
    transform: translate(-50%, var(--y)) scale(0.75);
}
.card-tl:nth-last-child(6) {
    --y: calc(-50% + -60px);
    transform: translate(-50%, var(--y)) scale(0.80);
}
.card-tl:nth-last-child(5) {
    --y: calc(-50% + -45px);
    transform: translate(-50%, var(--y)) scale(0.85);
}
.card-tl:nth-last-child(4) {
    --y: calc(-50% + -30px);
    transform: translate(-50%, var(--y)) scale(0.9);
}
.card-tl:nth-last-child(3) {
  --y: calc(-50% + -15px);
  transform: translate(-50%, var(--y)) scale(0.95);
}
.card-tl:nth-last-child(2) {
  --y: calc(-50%);
  transform: translate(-50%, var(--y)) scale(1);
}
.card-tl:nth-last-child(1) {
  --y: calc(-50% + 15px);
  transform: translate(-50%, var(--y)) scale(1.05);
}

@keyframes swap {
  50% {
    transform: translate(-50%, calc(var(--y) - 250px)) scale(0.85) rotate(-5deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(-50%, calc(var(--y) - 15px)) scale(0.85);
    z-index: -1;
  }
}
